<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.weacsoft.feedback.mapper.UserFeedbackMapper">
    <sql id="query">
        SELECT
            u1.id,
            u1.create_time,
            u1.update_time,
            u1.delete_time,
            u1.state,
            r1.name,
            r2.name,
            u1.question,
            u1.order_phone
        FROM
            classrepair.user_feedback u1
            LEFT JOIN classrepair.user_info r1 ON u1.orderer=r1.id
            LEFT JOIN classrepair.user_info r2 ON u1.receiver=r2.id
    </sql>
    <select id="getUserFeedback" resultType="team.weacsoft.feedback.dto.response.ManagerFeedbackResp">
        <include refid="team.weacsoft.feedback.mapper.UserFeedbackMapper.query"/>
        <if test="state != null">
            WHERE
            u1.state=#{state}
        </if>
    </select>
</mapper>
