<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.weacsoft.orders.mapper.OrderMapper">
    <sql id="query">
        SELECT id,
               create_time,
               delete_time,
               state,
               update_time,
               repair_item_id,
               receiver,
               orderer,
               classroom,
               equipment_type,
               problem,
               orderer_phone,
               urgent,
               on_time,
               appraisal,
               star
        FROM repair_item
    </sql>
    <sql id="queryAll">
        SELECT
            ri.id,
            ri.create_time,
            ri.delete_time,
            ri.state,
            ri.update_time,
            ri.repair_item_id,
            ri.receiver,
            u1.`name` AS receiver_name,
            u1.identity_id AS receiver_identity_id,
            ri.orderer,
            u2.`name` AS orderer_name,
            ri.classroom,
            ri.problem,
            ri.orderer_phone,
            u1.phone AS receiver_phone,
            qa.title,
            ri.on_time,
            ri.appraisal,
            ri.star
        FROM
            repair_item ri
            LEFT JOIN user_info u1 ON ri.receiver = u1.id
            LEFT JOIN user_info u2 ON ri.orderer = u2.id
            LEFT JOIN qa_type qa ON ri.equipment_type = qa.id
    </sql>
    <select id="findOrderByOrderId" resultType="team.weacsoft.orders.entity.RespOrder">
        <include refid="queryAll"/>
        WHERE ri.repair_item_id=#{id}
    </select>
    <select id="AllOrders" resultType="team.weacsoft.orders.entity.RespOrder">
        <include refid="queryAll"/>
        WHERE 1=1
        <if test="state!=null">
            AND ri.state=#{state}
        </if>
        <if test="receiver!=null">
            AND ri.receiver=#{receiver}
        </if>
        <if test="orderer!=null">
            AND ri.orderer=#{orderer}
        </if>
    </select>
    <select id="OtherOrders" resultType="team.weacsoft.orders.entity.RespOrder">
        <include refid="queryAll"/>
        WHERE 1=1
        <if test="state!=null">
            AND ri.state=#{state}
        </if>
        <if test="receiver!=null">
            AND ri.receiver!=#{receiver}
        </if>
        <if test="orderer!=null">
            AND ri.orderer!=#{orderer}
        </if>
    </select>
</mapper>
