<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.weacsoft.material.mapper.MaterialTypeMapper">
    <sql id="getAll">
        SELECT id,
               name,
               sort,
               tree_path,
               create_time,
               delete_time,
               state,
               update_time
        FROM material_type
    </sql>

    <insert id="addMaterialType" parameterType="team.weacsoft.material.entity.MaterialType" keyProperty="id">
        INSERT INTO material_type( name, sort, tree_path, create_time, delete_time, state, update_time)
        VALUES (#{name}, #{sort}, #{treePath}, #{createTime}, #{deleteTime}, #{state},
                #{updateTime});
    </insert>
    <select id="getMaterialTypes" resultType="team.weacsoft.material.entity.MaterialType">
        <include refid="getAll"></include>
        WHERE state=1;
    </select>
    <update id="deleteMaterialType" parameterType="team.weacsoft.material.entity.MaterialType">
        UPDATE material_type SET delete_time=#{time},state=2 WHERE id=#{id}
    </update>
</mapper>